@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-top: 20px;
}
.slider-cap {
    bottom: 0%;
    top: 35%; 
}
.carousel-item img{

    height:100vh;
    filter:b;
}
.headline-titel{
    color: #FFFFFF;
    text-align: center;
    font-size: 65;
}
.courses, .fqa{
    padding: 50px;
    justify-content: center;
    text-align: center;
}
.heading-titel, .feedback-titel{
 
 color: #1D1D1D;
}
.course-details{
   
    text-align: center;
    align-items: center;
    color: #777777;
}
.price{

    color: #289BDE;
}
.btn{
    justify-content: center;
}
.button{
  background-color: #289BDE;
  border-radius: 5px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
.feedback-titel{
    text-align: center;
    color: #1D1D1D;

}
.card-header{
    display: flex;
    justify-content: space-between;
}
.card-header .fa-star{
    color: darkgoldenrod;
    
}
.student-id{
    display: flex;
    padding-left: 14px;
}
.more-course, .company-img{
    display: flex;
    justify-content: space-evenly;
}
.button-1 {

    width: 175px;
    height: 56px;
    background-color: #289BDE;
    padding: 8px 8px 8px 8px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}
.reggition-bar{
    display: flex;
    background-color: #289BDE;
    border-radius: 5px;
    align-items: center;
    
}
.join-bar{
    align-items: center;
    color: #FFFFFF;
    width: 528px;
}
.reg-now{
   
    text-align: center;
    
}
.student-text{
    color: #777777;
}
.company-img img{
    width: 80px;
}
.footer-section{
    padding-top: 30px;
}
.footer {
    padding: 20px;
    background-color: #0B0D17;
    color: white;
    width: 100%;
    padding: 50px 0px;
    text-align: center;

}

.socie-link, .fa-brand {
    justify-content:center;
    display: flex;
    color:#FFFFFF;
    
}
.fa-brand{
    padding: 3px;
}
